version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: pocketledger-db
    environment:
      - POSTGRES_DB=pocketledger
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: